body{
    justify-content: center;
    text-align: center;
    font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-image: url('assets/Untitled\ design.png');
    background-size: cover;
    background-position: center;
    color: #53fffa;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.topnav{
    background-color: #111111;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.topnav a{
    float: left;
    font-size: 17px;
    padding: 20px 16px;
    text-decoration: none;
    color: #00bfff;
}

.topnav a.split{
    float: right;
}

.topnav a:hover{
    background-color: #ffd700;
    color: #00bfff;
}

.paytable_container {
  position: relative;
  width: 60%;
  height: 30rem;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #111111;
  border: transparent;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  position: absolute;
  top: 1rem;
  left: 10%;
  right: 10%;
}

.title{
  font-size: 3rem;
  color: #ffd700;
  text-shadow: 0 0 5px #ffea00, 0 0 20px #ffd700;
}

.paytable_reels{
  position: absolute;
  top: 10rem;
  left: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paytable_reel {
  display: flex;
  border: solid 3px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  margin: 0px 15px;
  font-size: 3rem;
  box-shadow: 0 0 15px #00bfff, inset 0 0 10px #000;
  transition: transform 300ms ease, opacity 300ms ease;
  will-change: transform, opacity;
}

.paytable_reel.hidden{
  opacity: 0;
  transform: translateY(-8px) scale(0.98);
}

.paytable_msg{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20.5rem;
  left: 20%;
  right: 20%;
}

.paytable_buttons {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  cursor: pointer; 
  user-select: none;
}
.paytable_button { position: static; 
  cursor: pointer;
padding: 20px;}

.paytable_button:hover{
  transition: 0.4s;
  background-color: rgb(42, 40, 40);
}